{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid bg-dark text-white">
        <div class="text-center">
            <h1>TicketMaster</h1>
            <p class="p-2">Quickly finds ticket around you</p>
            <form action="{% url 'ticketmaster' %}" method="post">
                {% csrf_token %}
                <div class="container input-group mb-2 pb-2 small-search w-50">
                    <input type="text" class="form-control" placeholder="Search by genre, artist or event" name="search_term">
                    <input type="text" class="form-control" placeholder="Enter a city e.g., Hartford" name="location">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
                {% if errors %}
                    <div class=" container alert alert-danger w-50">
                        {{ message }}
                    </div>
                {% endif %}
            </form>
            <div class="container alert alert-danger d-none w-50" role="alert" id="alert">

            </div>
        </div>
    </div>
    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if events %}
        <div class="container my-5 shadow border border-1 rounded p-5" id="resultContainer">
        <div class="row justify-content-center">
        <div class="col-lg-9">
        <div id="results" class="text-muted">
        {% for event in events %}
            <section class="shadow mb-3" id="user-container">
                <div class="card p-2">
                    <div class="row align-items-center">
                        <div class="col-md-4 ">
                            <img src="{{ event.img }}" class="card-img img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body">
                                <div class="row g-0 pb-2 ">
                                    <div class="col-6 col-sm-6 ">
                                        <h5 class="card-title">{{ event.name }}</h5>
                                        <p class="card-text">{{ event.venue }}</p>
                                        <p class="card-text"><small
                                                class="text-body-secondary">{{ event.address }}
                                            <br>{{ event.city }},{{ event.state }}</small>
                                        </p>
                                        <a href="{{ event.ticketLink }}"> <button type="button" class="btn btn-primary">Find tickets</button></a>
                                    </div>
                                    <div class="col-6 col-sm-6  text-end">
                                        <p class="card-text">{{ event.startDate }}</p>
                                        <p class="card-text">{{ event.startTime }}</p>
                                        <p id = "event_id">{{ event.id }}</p>
                                        {% if user.is_authenticated %}
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary note-button" id="note-`{{ event.id }}`" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Add Note
                                            </button>

                                            <button onclick = "likeEvent('{{ event.eventid }}')"><h1><i id="{{ event.eventid }}" class="bi bi-heart"></i></h1></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
</div>
</div>
</div>
</div>




    <!-- Step 4 (To view note) works like products.html from slides -->
    <!-- Inside of Add Note button -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="mb-3">
                                                                    <label for="message-text" class="col-form-label">Message:</label>
                                                                    <textarea class="form-control" id="message-text"></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <a class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
{#                                                            <!-- (Updating note) <a href="##{% url 'update_note' note_event.id %}##">-->#}
                                                           <button type="button" class="btn btn-primary">Send message</button>
                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


{% endblock %}
{% block js %}
    <script>
    $('.note-button').each(function (index, item) {
        console.log('index of each: ' + index);

        $(item).click(function () {
            console.log('test');
            console.log(index);
          let eventId = $(this).attr('id');
            console.log(eventId);
            let note = 'Hello'; //???

            // send note to the server
            {% comment %}
            $.ajax({
                url: '{% url "add_notes" %}', // Ensure this URL is correctly named in Django urls.py
                type: 'POST',
                data: {
                    event_id: event,
                    note: note,
                    csrfmiddlewaretoken: '{{ csrf_token }}' // Ensure this token is correctly placed in template
                },
                success: function (response) {
                    console.log(response);
                    let $noteIcon = $('#' + eventId); // Ensure this selector correctly targets desired element

                    if (response.note) { // Check response object for the correct property
                        $noteIcon.addClass('fa-solid fa-note-sticky'); // Adjust class names as per your requirement
                    } else {
                        // Handle the else condition if needed
                    }
                    notePage(); // Ensure this function is defined and does what it expects (would this be note-form.html)
                }
            });{% endcomment %}
        });
});
    </script>
{% endblock %}